<%- include('../layout/header'); %> <%- include('../layout/sidebar'); %>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
          >
            <img
              src="../../myUploads/AdminProfile/<%= data ? data.image : '' %>"
              alt="Profile"
              class="rounded-circle"
            />
            <h2><%=data.name%></h2>
            <h3><%=data.username%></h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                >
                  Overview
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-edit"
                >
                  Edit Profile
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-change-password"
                >
                  Change Password
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8"><%=data.name%></div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8"><%=data.mobile%></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8"><%=data.username%></div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Profile Edit Form -->
                <form
                  id="profile1"
                  action="/admin-profile1"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="row mb-3">
                    <label
                      for="profileImage"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Profile Image</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <img
                        src="../../myUploads/AdminProfile/<%= data ? data.image : '' %>"
                        alt="Profile"
                      />
                      <div class="pt-2">
                        <input
                          name="image"
                          id="image"
                          value="<%=data.image%>"
                          type="file"
                          style="font-size: 11px"
                          width="1px"
                          accept=".png,.jpeg,.jpg"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="fullName"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Full Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="name"
                        type="text"
                        class="form-control"
                        id="name"
                        value="<%=data.name%>"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                      >Phone</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="mobile"
                        type="text"
                        class="form-control"
                        id="mobile"
                        value="<%=data.mobile%>"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Email" class="col-md-4 col-lg-3 col-form-label"
                      >Email</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="username"
                        type="email"
                        class="form-control"
                        id="username"
                        value="<%=data.username%>"
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                  </div>
                </form>
                <!-- End Profile Edit Form -->
              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form 
                id="changePass"
                action="/admin-profile2"
                method="post"
                enctype="application/x-www-form-urlencoded">
                  <div class="row mb-3">
                    <label
                      for="currentPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Current Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="password"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="newPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >New Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="newPassword"
                        type="password"
                        class="form-control"
                        id="newPassword"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="renewPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Re-enter New Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="reNewPassword"
                        type="password"
                        class="form-control"
                        id="reNewPassword"
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Change Password
                    </button>
                  </div>
                </form>
                <!-- End Change Password Form -->
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
<script>
  const editForm = document.getElementById("profile1");
  const changePass = document.getElementById("changePass");
  


  editForm.addEventListener("submit", function (event) {
    event.preventDefault();
    var formData = new FormData();
    const image = document.getElementById("image").files[0];

    formData.append("image", image);
    formData.append("username", document.getElementById('username').value);
    formData.append("name", document.getElementById('name').value);
    formData.append("mobile", document.getElementById('mobile').value);
    // console.log("image", image)
    // console.log("username", document.getElementById('username').value)
    // console.log("mobile", document.getElementById('mobile').value)
    // console.log("name", document.getElementById('name').value)

    ajaxRequest("profile1", `/admin-profile1`, "POST", formData);
  });
  changePass.addEventListener("submit", function (event) {
    event.preventDefault();
    const data = {
      "password": document.getElementById('password').value,
      "newPassword": document.getElementById('newPassword').value,
      "reNewPassword": document.getElementById('reNewPassword').value,
    }

    ajaxTextRequest("changePass", `/admin-profile2`, "POST", data);
  });


</script>
<%- include('../layout/footer'); %>
