<%- include('../layout/header'); %> <%- include('../layout/sidebar'); %>

<main id="main" class="main">
  <section class="section">
    <h3><b>Edit City</b></h3>
    <!-- General Form Elements -->
    <div >
      <form
        id="eaproGrpAbt"
        action="/city/edit/<%=data.id%>"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
      <!-- select country -->
      <div >
        <div>
           <label for="country" class="col-sm-2 col-form-label">Select  Country</label>
        </div>
        <div >
          <select onchange="loadState(this.value)" class="form-select form-control" name="country_id" id="country">
            <option <% if (data.countries && data.country_id === data.countries.id) { %> selected <% } %> value="<%= data.country_id %>">
              <% if (data.countries) { %>
                <%= data.countries.name %>
              <% } else { %>
                Select Country
              <% } %>
            </option>
          </select>
        </div>
      </div>

     <!-- select state -->
     <div >
      <div>
         <label for="country" class="col-sm-2 col-form-label">Select State</label>
      </div>
      <div >
        <select  class="form-select form-control" name="state_id" id="state">
          <option <% if (data.states && data.state_id === data.states.id) { %> selected <% } %> value="<%= data.state_id %>">
            <% if (data.states) { %>
              <%= data.states.name %>
            <% } else { %>
              Select State
            <% } %>
          </option>
      </select>
      </div>
    </div>



        <div class="row mb-3">
          <div >
            <input
              id="id"
              type="hidden"
              name="id"
              value="<%= data ? data.id  : '' %>"
              required
              class="form-control"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div>
            <label for="name"><b>Name</b></label>
          </div>
          <div >
            <input
              id="name"
              type="text"
              name="name"
              value="<%= data ? data.name  : '' %>"
              required
              class="form-control"
            />
          </div>
        </div>

        <button class="btn btn-success" type="submit">Update</button>
      </form>
      <!-- End General Form Elements -->
    </div>
  </section>
</main>
<script>
  // fetching data 
var country_select = document.getElementById('country')
  // Fetch countries and populate countries select box
fetch("/fetch-country")
  .then((response) => response.json())
  .then((country) => {
    // console.log("blogCategory",blogCategory)
    country.forEach((country) => {
      const option = document.createElement("option");
      option.value = country.id;
      option.textContent = country.name;
      country_select.appendChild(option);
    });
  });

  // load state
  function loadState(countryId) {
    console.log(countryId);

    var stateSelect = document.getElementById("state");
    console.log(state);
     stateSelect.disabled = false;
     stateSelect.innerHTML = "<option value=''>Loading...</option>";

    fetch("/state/get?countryId=" + countryId)
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        stateSelect.innerHTML =
          "<option value=''>Select state</option>";
        if (data.length === 0) {
          stateSelect.disabled = true;
          return;
        }
        stateSelect.disabled = false;
        data.forEach((state) => {
          stateSelect.innerHTML +=
            "<option value='" +
            state.id +
            "'>" +
            state.name +
            "</option>";
        });
      })
      .catch((error) => {
        console.error("Error fetching states:", error);
        stateSelect.innerHTML =
          "<option value=''>Error loading states</option>";
      });
  }
    const editForm = document.getElementById('eaproGrpAbt')
    
    editForm.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission
   
    const data = {
      "country_id":document.getElementById('country').value,
      "state_id":document.getElementById('state').value,
      "name":document.getElementById('name').value,
      "id":document.getElementById('id').value,
    }
            
    ajaxTextRequest('eaproGrpAbt', `/city/edit/:id`, 'POST',data);
});

</script>
<%- include('../layout/footer'); %>